@font-face {
	font-family: "icons";
	src: url("../assets/icons.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class*="icon-"]:before {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	speak: never;
	display: inline-block;
	text-decoration: inherit;
	font-variant: normal;
	text-transform: none;
	margin-right: .5em;
}

.icon-globe:before { content: "\e800"; }
.icon-play:before { content: "\e801"; }
.icon-pause:before { content: "\e802"; }
.icon-github:before { content: "\f09b"; }
.icon-left:before { content: "\f104"; }
.icon-right:before { content: "\f105"; }
.icon-up:before { content: "\f106"; }
.icon-down:before { content: "\f107"; }
.icon-terminal:before { content: "\f120"; }
.icon-stackoverflow:before { content: "\f16c"; }

a[class*="icon-"] {
	&::before {
		display: inline-block;
		color: var(--link-color);
		text-decoration: none;
		transform: scale(1);
		transition: transform 0.5s var(--easing);
	}

	&:hover::before {
		transform: scale(1.5);
	}
}
