#performance-notice {
	--performance-notice-bottom: var(--spacing-large);

	@media (orientation: landscape) {
		--performance-notice-bottom: var(--spacing-medium);
	}

	padding: var(--spacing-medium);

	font-size: 0.8em;
	color: white;
	text-align: center;

	position: fixed;
	left: 50%;
	bottom: var(--performance-notice-bottom);
	z-index: 99;

	width: max-content;
	max-width: 90%;

	transform: translate(-50%, calc(100% + var(--performance-notice-bottom) + var(--spacing-medium)));
	transition: transform 1s var(--easing);

	border-radius: 0.5rem;

	&::before {
		background: var(--accent-color);
		display: block;
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		border-radius: 0.5rem;
		z-index: -1;
		opacity: 0.75;
	}

	p {
		margin: 0;
	}

	&.active {
		transform: translate(-50%, 0);
	}
}

#fps {
	position: fixed;
	left: var(--spacing-medium);
	bottom: var(--spacing-medium);
	color: var(--accent-color);

	transform: scale(0);
	transition: transform 0.5s 5.5s var(--easing);
}

html.dev.loaded #fps {
	transform: scale(1);
}

// Hide when no JS
html.no-js {
	#fps,
	#performance-notice {
		display: none;
	}
}
