node_modules
.idea
.DS_STORE
src/resources/sass/icons.scss
src/resources/sass/icon-vars.scss
src/resources/sass/svg.scss
scripts/assets/
scripts/icons/
scripts/app-bundle.js
scripts/app-bundle.js.map
scripts/vendor-bundle.js
