@mixin icon-nav {
	a {
		display: inline-block;
		margin-right: $margin-small;

		color: inherit;
		font-size: $font-size-large;
		opacity: .6;
		transition: opacity $transition-default $transition-easing;

		&:hover {
			opacity: 1;
			color: inherit;
		}
	}
}
