@mixin icon-nav {
	letter-spacing: $margin-small;

	a {
		display: inline-block;

		color: inherit;
		font-size: $font-size-large;
		opacity: .6;
		transition: all $transition-default $transition-easing;

		&:hover {
			opacity: 1;
			color: $color-link;
		}
	}
}
