[placeholder-label] {
	$translateY: ($font-size-default * $line-height-default) - (($font-size-default * $line-height-default - $font-size-default) / 2) + $form-padding-vertical;

	position: relative;
	text-align: left;

	label {
		transition: transform $transition-default $transition-easing;
		transform-origin: left top;
		transform: translateY($translateY) scale(1);
		color: $color-form-placeholder;
		pointer-events: none;
	}

	&.active {
		label {
			pointer-events: auto;
			transform: translateY(0) scale(0.9);
		}
	}
}
