popup {
	background: $color-overlay;

	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 99;

	display: flex;
	align-items: center;
	justify-content: center;

	opacity: 0;
	transform: translateY(-100%);
	transition: transform 0s .2s linear, opacity .2s 0s $transition-easing;

	&.size-large {
		.popup-box {
			max-width: 60rem;
		}
	}

	// When open
	&.open {
		transition: transform 0s 0s linear, opacity .2s 0s $transition-easing;
		opacity: 1;
		transform: translateY(0);
	}

	// The actual box
	.popup-box {
		background: $color-white;

		width: 90%;
		max-width: 35rem;
		max-height: 90%;

		position: relative;
		overflow: auto;
		padding: $padding-x-large $padding-large $padding-large;

		border-radius: 0;

		// Close button
		.close {
			position: absolute;
			right: $padding-default;
			top: $padding-default;
			z-index: 1;

			font-size: 2rem;
			line-height: 1rem;
			color: $color-green;
			text-decoration: none;

			transform: scale(1);
			transition: transform $transition-default $transition-easing;

			&:hover {
				transform: scale(1.1);
				color: $color-green;
				text-decoration: none;
			}
		}
	}
}
