about {
	@include section;

	background: linear-gradient(to bottom, $color-white, $color-white 50%, $color-lightgray);

	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;

	min-height: calc(100vh + #{$section-slant});
	margin-bottom: -$section-slant;

	clip-path: $bottom-slant;
	padding-bottom: $section-slant + $section-padding;

//	color: $color-white;

	> a.icon-down {
		position: absolute;
		left: 50%;
		bottom: $section-padding;
		transform: translateX(-50%);
		font-size: 3rem;
		color: inherit;
		opacity: .5;
		transition: all $transition-default $transition-easing;

		&:hover {
			opacity: 1;
			color: $color-link;
		}
	}

	figure {
		@media #{$bp-large-max} {
			text-align: center;
		}

		@media #{$bp-large} {
			display: flex;
			align-items: center;
			justify-content: space-between;
			transform: translateX(-10rem); // Offset the image a little for balance
		}

		img {
			@include profile-picture;

			width: 10rem;
			margin: 0 0 $margin-default;

			@media #{$bp-medium} {
				width: 20rem;
			}

			@media #{$bp-large} {
				flex: 0 0 20rem;
				margin: 0 $gutter-large 0 0;
			}
		}

		figcaption {
			flex: 1;

			h1 {
				margin: 0 0 0 -.3rem;

				@media #{$bp-large} {
					margin-bottom: -1rem;
				}
			}

			nav {
				@include icon-nav;
				position: relative;
				z-index: 1;

				@media #{$bp-large} {
					float: right;
				}
			}

			nav + p {
				opacity: .5;

				strong {
					display: block;
				}
			}
		}
	}
}
