@keyframes rotate-bg {
	0% {
		background-position: 0vw 50%;
	}

	100% {
		background-position: 100vw 50%;
	}
}

html:before {
	background: linear-gradient(to right, $color-pink, $color-purple, $color-magenta, $color-yellow, $color-pink);

	display: block;
	content: "";

	height: .2rem;

	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	z-index: 102;

	pointer-events: none;
	opacity: 0;

	transition: opacity 0s ease-out; // Immediately hide loading bar once loading's stopped
	animation: rotate-bg 1s linear infinite;
}

html.loading:before {
	opacity: 1;
	// transition: opacity .2s .25s ease-out; // Only show loading bar once app's been loading >.25s
}
