#site-header,
#site-footer {
	display: none;
}

html {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100%;
}

main {
	font-size: 400%;
	line-height: 1.1;
	font-style: italic;
}
