repos {
	@include section;

	padding-top: $section-padding + $section-slant;

	@media #{$bp-medium} {
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		flex-wrap: wrap;

		&:after {
			display: none;
		}
	}

	h2 {
		margin-bottom: $margin-x-large;
		flex: 0 0 100%;

		color: $color-white;
		text-align: center;
		text-shadow: 0 .25rem .75rem $color-shadow;
	}

	article {
		background: $color-white;

		flex: 0 0 calc(50% - #{$gutter-default / 2});
		width: calc(50% - #{$gutter-default / 2});
		margin: 0 0 $gutter-default;
		padding: $padding-large;

		box-shadow: 0 .25rem .75rem $color-shadow;

		nav {
			@include icon-nav;
		}
	}
}
