progress {
	appearance: none;

	display: block;
	width: 100%;
	height: .25rem;

	border: 0;

	&::-webkit-progress-bar {
		background: $color-lightgray;
		border-radius: 0;
	}

	&::-moz-progress-bar {
		background: $color-orange;
		border-radius: 0;
	}

	&::-webkit-progress-value {
		background: $color-orange;
		border-radius: 0;
		transition: width $transition-default $transition-easing;
	}
}
